body { font-family: monospace; background: #2D2D2D; color: #00FF0C;} 
.button {padding: 8px;border: 2px solid;display: inline-block;cursor: pointer}
input {color: inherit; background: #000; padding: 8px;border: 2px solid #fff;display: inline-block}